.experience {
    margin-top: 100px;
    height: 450px;
}
.exp-cont {
    margin: 0 auto;
    max-width: 700px;
}
.exp-bot {
    align-items: flex-start;
}
.exp-list {
    flex-direction: row;
}
.exp-list ul {
    width: max-content;
}
.exp-list ul li {
    height: 40px;
    display: block;
    cursor: pointer;
}
.exp-list ul li:hover {
    background-color: var(--green-tint);
    color: var(--green);
}
.exp-list ul li:hover > button {
    color: var(--green);
}
.exp-list button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 0;
    border: none;
    outline: none;
    color: var(--lightest-slate);
    padding: 0 20px;
    text-align: left;
    font-family: var(--font-mono);
    font-size: 15px;
    cursor: pointer;
}

.button-active {
    color: var(--green) !important;
}
.exp-cont-sec {
    padding-left: 20px;
}
.exp-head {
    font-weight: bold;
    font-size: 17px;
}
.exp-cont-date {
    color: var(--slate);
}
.exp-cont-list {
    position: relative;
    padding: 10px 0 0 20px;
}

.exp-cont-list li {
    position: relative;
    padding-top: 10px;
    color: var(--slate);
}
.exp-cont-list li p::before {
    position: absolute;
    content: "››";
    top: 5px;
    left: -18px;
    color: var(--green);
    font-size: 20px;
}

.display-none {
    display: none;
}

@media only screen and (max-width:700px) {
    .experience {
        height: 550px;
    }
    .exp-bot {
        flex-direction: column;
        margin-top: 30px;
    }
    .exp-list {
        width: 100%;
    }
    .exp-list ul {
        display: flex;
        flex-direction: row;
    }
    .exp-cont-main {
        margin-top: 30px;
    }
    .exp-cont-sec {
        padding: 0;
    }
}