.App {
    position: relative;
}
.fixed-mail {
    display: block;
    position: fixed;
    bottom: 250px;
    left: -70px;
    transform: rotate(-90deg);
    z-index: 1;
}
.fixed-mail p {
    position: relative;
    font-family: var(--font-mono);
    font-size: 15px;
    letter-spacing: 0.6px;
    margin: 0;
}
.fixed-mail p:hover {
    color: var(--green);
}
.fixed-mail p:before {
    position: absolute;
    left: -140px;
    top: 8px;
    content: "";
    width: 0px;
    height: 1px;
    background-color: var(--slate);
    animation: widthAnimation 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.fixed-follow {
    position: fixed;
    top: 150px;
    right: 50px;
    height: 170px;
    z-index: 1;
}
.fixed-follow ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.fixed-follow ul::before {
    position: absolute;
    content: "";
    left: 10px;
    top: -150px;
    height: 0px;
    width: 1px;
    background-color: var(--slate);
    animation: heightAnimation 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.fixed-follow ul li :hover {
    fill: var(--green);
}

@keyframes widthAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 130px;
    }
}
@keyframes heightAnimation {
    0% {
        height: 0%;
    }
    100% {
        height: 150px;
    }
}

/* Mobile Media Queries */

@media only screen and (max-width:700px) {
    .fixed-mail, .fixed-follow {
        display: none;
    }
}