@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --navy: #0a192f;
  --lightest-navy: #172a45;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #ffffff;
  --lightest-white: #e6f1ff;
  --pale-yellow: #ffda60;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--navy);
  color: var(--lightest-slate);
}

.container {
  width: 70vw;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  display: inline-block;
  color: var(--green);
}

button {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  color: var(--green);
}

@keyframes animateElement {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.zero-opac {
  opacity: 0;
}

.elementFadeup {
  opacity: 0;
  animation: animateElement 1.2s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
.elementFadeup-1 {
  opacity: 0;
  animation: animateElement 1.2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
.elementFadeup-2 {
  opacity: 0;
  animation: animateElement 1.2s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 450px) {
  p {
    font-size: 15px;
  }
  table {
    font-size: 13px;
  }
  .sm-container {
    width: 80vw;
  }
}
.default-btn {
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 4px;
    color: var(--pale-yellow);
    padding: 15px 30px;
    letter-spacing: 2px;
    outline: none;
    margin-top: 30px;
}




